#sidebar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #354050;
    font-size: rem-calc(14);
    color: #a7b2c4;
    width: $sidebar-width;
    height: 100%;
    
    h5 {
        color: #68748a;
        font-size: rem-calc(12);
        font-weight: bold;
        text-transform: uppercase;
        margin: 16px 0 8px 0;
        padding: 0 24px;
    }
    
    a {
        display: block;
        color: #a7b2c4;
    }
    
    hr {
        border-color: #2b3545;
    }
    
    ul {
        list-style-type: none;
        margin: 0;
        
        li a {
            font-size: rem-calc(14);
            padding: 12px 24px;
            border-right: 3px solid transparent;
            @include transition();
            
            &.active,
            &:focus,
            &:hover {
                background: rgba(0, 0, 0, .05);
                border-right-color: #08a9f7;
                outline: none;
            }
        }
    }
    
    .menu-icon {
        vertical-align: 1px;
        font-size: .8rem;
        min-width: 16px;
        margin-right: 8px;
    }
}

@media #{$small-up} {}
@media #{$small-only} {}

@media #{$medium-up} {}
@media #{$medium-only} {}

@media #{$large-up} {}
@media #{$large-only} {}

@media #{$xlarge-up} {}
@media #{$xlarge-only} {}

@media #{$xxlarge-up} {}
@media #{$xxlarge-only} {}
