#topbar {
    background: #fff;
    height: $topbar-height;
    border-bottom: 2px solid #efefef;
    
    .menu-item {
        display: block;
        color: #808080;
        height: 100%;
        padding: 23px 32px;
        border-right: 2px solid #efefef;
        @include darken-on-hover(.02);
        
        &#sidebar-toggle {
            font-size: 1.4rem;
            padding: 18px 32px;
        }
        
        .icon {
            margin-right: 8px;
        }
    }
    
    #main-search {
        width: 400px;
        padding: 16px 0;
        
        button[type="submit"] {
            background: none;
            width: 48px;
            padding: 0;
            margin: 0;
            
            .search-icon {
                color: #999;
                padding: 12px 16px;
            }
        }
        
        input[type="search"] {
            @include calc('width', '100% - 48px');
            box-shadow: none;
            border: none;
            border-bottom: 1px solid #ddd;
            
            &::-webkit-input-placeholder {
                color: #aaa;
            }
            &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
               color: #aaa;
               opacity: 1;
            }
            &::-moz-placeholder { /* Mozilla Firefox 19+ */
               color: #aaa;
               opacity: 1;
            }
            &:-ms-input-placeholder { /* Internet Explorer 10+ */
               color: #aaa;
            }
            
            &::-webkit-search-cancel-button {
                -webkit-appearance: none;
            }
        }
    }
}

@media #{$small-up} {}
@media #{$small-only} {}

@media #{$medium-up} {}
@media #{$medium-only} {}

@media #{$large-up} {}
@media #{$large-only} {}

@media #{$xlarge-up} {}
@media #{$xlarge-only} {}

@media #{$xxlarge-up} {}
@media #{$xxlarge-only} {}
