@import "_settings";
@import "_functions";

@import "components/_topbar";
@import "components/_sidebar";

html {
    height: auto;
}

body {
    background: #edf2f6;
    overflow-y: scroll;
}

.full-width {
    width: 100%;
    max-width: 100%;
}

.row {
    margin: 0;
}

.panel {
    background: #fff;
    color: #6f7e95;
    border: none;
    
    &.green {
        background: #00b17d;
        color: #eee;
    }
    
    &.red {
        background: #d64d54;
        color: #eee;
    }
    
    &.blue {
        background: #47a4e9;
        color: #eee;
    }
    
    &.purple {
        background: #a279c5;
        color: #eee;
    }
    
    .progress {
        background: rgba(0, 0, 0, .1);
        height: 5px;
        margin-bottom: 12px;
        
        .meter {
            background: #eee;
            height: inherit;
        }
    }
    
    h3 {
        text-align: center;
        font-size: rem-calc(20);
        color: #eee;
        padding-bottom: rem-calc(12);
        border-bottom: 2px solid rgba(0, 0, 0, .1);
    }
    
    dl {
        color: #eee;
    }
}

dl {
    dt {
        margin-bottom: 0;
    }
    
    dd {
        margin-bottom: rem-calc(6);
    }
}

table.user-list {
    .avatar {
        text-align: center;
    }
}

#main-container {
    position: relative;
    left: $sidebar-width;
    @include calc('width', '100% - #{$sidebar-width}');
}

header.main {
    background: #fff;
    padding-top: 32px;
    padding-bottom: 32px;
    border-bottom: 2px solid #dedede;
    
    h1 {
        font-size: rem-calc(28);
        color: #4f5054;
        margin: 0;
    }
    
    .online-status {
        display: inline-block;
        font-size: rem-calc(15);
        font-weight: bold;
        color: #9aa0ac;
        padding: 6px 24px;
        border: 2px solid #ccc;
        border-radius: 9999px;
        
        .status-icon {
            font-size: rem-calc(12);
            vertical-align: 1px;
            margin-right: 4px;
            
            &.status-online {
                color: #88d050;
            }
            
            &.status-offline {
                color: #ee1860;
            }
        }
    }
}

main {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
}

@media #{$small-up} {}
@media #{$small-only} {}

@media #{$medium-up} {}
@media #{$medium-only} {}

@media #{$large-up} {}
@media #{$large-only} {}

@media #{$xlarge-up} {}
@media #{$xlarge-only} {}

@media #{$xxlarge-up} {}
@media #{$xxlarge-only} {}
